<html class="body">
<div class="body">

<h1>Editing Image</h1>

<%= image_tag @image.filename, size: "200x200", alt: @image.filename %>

<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>

</div>
</html>
